<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.iu.b5.admin.AdminRepository">
	
	<resultMap type="MemberVO" id="getMemberListResult">
		<id column="id" property="id" />
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		
		<association property="memberFile" javaType="MemberFilesVO">
			<result column="fileName" property="fileName" />
		</association>
	</resultMap>
	
	<select id="getMemberList" resultType="MemberVO" resultMap="getMemberListResult">
		select m.id, m.name, m.email, mf.fileName from
		member m left join memberfiles mf
		on (m.id = mf.member_id)
	</select>

</mapper>