<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.iu.s4.board.notice.NoticeDAO">
	
	<update id="setCommentUpdate" parameterType="CommentsDTO">
		UPDATE COMMENTS SET CONTENTS = #{contents} 
		WHERE COMMENTNUM = #{commentNum}
	</update>
	
	<delete id="setCommentDelete" parameterType="CommentsDTO">
		DELETE FROM COMMENTS WHERE COMMENTNUM = #{commentNum}
	</delete>
	
	<select id="getCommentCount" resultType="Long" parameterType="CommentsDTO">
		SELECT COUNT(NUM) FROM COMMENTS WHERE NUM = #{num} AND BOARD = #{board}
	</select>

	<select id="getCommentList" parameterType="Map" resultType="CommentsDTO">
		SELECT * FROM
			(SELECT ROWNUM RN, C.*
				FROM (SELECT * FROM COMMENTS 
					WHERE NUM = #{comments.num} AND BOARD = #{comments.board}
					ORDER BY COMMENTNUM DESC
				) C) 
			WHERE RN BETWEEN #{pager.startRow} AND #{pager.lastRow}
	</select>
	
	<insert id="setComment" parameterType="CommentsDTO">
		INSERT INTO COMMENTS
		VALUES (COMMENTS_SEQ.NEXTVAL, #{num}, #{writer}, #{contents}, CURRENT_DATE, #{board})
	</insert>
	
	<select id="getFile" parameterType="BoardDTO" resultType="BoardFileDTO">
		SELECT * FROM NOTICEFILES WHERE NUM = #{num}
	</select>
	
	
	<delete id="setFileDelete" parameterType="BoardFileDTO">
		DELETE NOTICEFILES WHERE FILENUM = #{fileNum}
	</delete>
	
	
	<insert id="setFile" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILES 
		VALUES(files_seq.nextval, #{num}, #{fileName}, #{oriName})
	</insert>


	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NUM) 
		FROM NOTICE
		WHERE
		<choose>
			<when test="kind == 'num'">
				NUM
			</when>
			<when test="kind == 'title'">
				TITLE
			</when>
			<when test="kind == 'writer'">
				WRITER
			</when>
			<otherwise>
				CONTENTS
			</otherwise>
		</choose>
		LIKE '%' || #{search} || '%'
	</select>

	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		SELECT * 
		FROM 
			(SELECT ROWNUM RN, N.* FROM
				(SELECT * 
				FROM NOTICE
				WHERE
				<choose>
					<when test="kind == 'num'">
						NUM
					</when>
					<when test="kind == 'title'">
						TITLE
					</when>
					<when test="kind == 'writer'">
						WRITER
					</when>
					<otherwise>
						CONTENTS
					</otherwise>
				</choose>
				LIKE '%' || #{search} || '%'
				ORDER BY NUM DESC) 
			N)
		WHERE RN BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<resultMap type="NoticeDTO" id="getSelectResult">
		<id column="num" property="num" />
		<result column="title" property="title" />
		<result column="contents" property="contents" />
		<result column="writer" property="writer" />
		<result column="regDate" property="regDate" />
		<result column="hits" property="hits" />
		
		<collection property="files" javaType="List" ofType="BoardFileDTO">
			<id column="fileNum" property="fileNum" />
			<result column="num" property="num" />
			<result column="fileName" property="fileName" />
			<result column="oriName" property="oriName" />
		</collection>
	</resultMap>

	<select id="getSelect" parameterType="BoardDTO" resultMap="getSelectResult" resultType="NoticeDTO" >
		SELECT *
		FROM NOTICE A
		LEFT OUTER JOIN NOTICEFILES B
		USING (NUM)
		WHERE NUM = #{num}
	</select>
	
	<insert id="setInsert" parameterType="BoardDTO">
		<selectKey order="BEFORE" resultType="Long" keyProperty="num">
			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NOTICE (NUM, TITLE, CONTENTS, WRITER, HITS)
		VALUES (#{num}, #{title}, #{contents}, #{writer}, 0)
	</insert>
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE NOTICE WHERE NUM = #{num}
	</delete>
	
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE 
		SET TITLE = #{title}, CONTENTS = #{contents}
		WHERE NUM = #{num}
	</update>

</mapper>