<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.iu.b5.board.qna.QnaRepository">

	<insert id="setInsert" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO QNA (num, title, contents, writer, hit, regDate, ref, step, depth)
		values (#{num}, #{title}, #{contents}, #{writer}, 0, now(), 0, 0, 0)
	</insert>
	
	<update id="setUpdate" parameterType="QnaVO">
		UPDATE QNA SET TITLE = #{title}, contents = #{contents}
		WHERE NUM = #{num}
	</update>
	
	<update id="setHitUpdate" parameterType="QnaVO">
		UPDATE QNA SET HIT = HIT+1
		WHERE NUM = #{num}
	</update>
	
	<delete id="setDelete" parameterType="QnaVO">
		DELETE FROM QNA WHERE NUM = #{num}
	</delete>
	
	<select id="getSelect" parameterType="QnaVO" resultType="QnaVO">
		SELECT * FROM QNA WHERE NUM = #{num}
	</select>
	
	<select id="getList" resultType="QnaVO">
		SELECT * FROM QNA
	</select>

</mapper>